# dependencies
node_modules

# testing
coverage
junit.xml

# production
build

# misc
.DS_Store
npm-debug.log
consoleScripts.js
.env.test

.idea

.coveralls.yml

start-docker-test.sh
start-ts-node-test.sh

output.log

.env.production
*.production.env
